# Specifies the authentication token used by the Discord bot to connect to the Discord API.
discord_bot_token "bot_token"

# The unique numerical ID of the Discord bot account.
discord_bot_id "bot_id"

# The ID of the Discord text channel where chat messages will be relayed.
discord_bot_chat_relay_channel "channel_id"

# Comma-separated list of prefixes that will prevent messages from being relayed to Discord.
discord_bot_chat_relay_blocked_msgs_prefixes "!,/,@"